{{define "edit"}}

<div class="content">
	{{if .IsAdmin}}
		{{range .Articles}}
		<div class="post clearfix" id="post-id">
			<form action="" method="post">
            	<p>
            		<label for="Title">Title:</label>
            		<input type="text" name="Title" value="{{.Title}}" class="comments-input" id="Title" size="100" tabindex="1" />
            	</p>
            	<p>
            		<label for="Catergory">Catergory:</label>
            		<input type="text" name="Category" value="{{.Category}}" class="comments-input" id="Catergory" size="100" tabindex="2" />
            	</p>
            	<p>
            		<label for="Tags">Tags:</label>
            		<input type="text" name="Tags" value="{{.Tags | Tags2String}}" class="comments-input" id="Tags" size="100" tabindex="3" />
            	</p>
            	<p>
            		<label for="Content">Content:</label>
            		<textarea name="Content" id="comment-textarea" class="form-textarea" cols="100%" rows="100%" tabindex="4" style="resize: vertical">{{.Content}}</textarea>
            	</p>
            	<p>
            		<input type="hidden" name="ArticleID" value="{{.ArticleID}}">
            		<input name="submit" type="submit" class="form-submit" tabindex="5" value="Submit" />
            	</p>
       		</form>
		</div>
		{{end}}
	{{end}}
</div>

{{end}}
