<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Edit {{.Title}}</h1>
        <form action="" method="post">
            Title		:<input type="text" name="Title" value="{{.Title}}"><br>
            Catergory	:<input type="text" name="Category" value="{{.Category}}"><br>
            Tags		:<input type="text" name="Tags" value="{{.Tags | Tags2String}}"><br>
            Content		:<textarea name="Content" colspan="100" rowspan="100">{{.Content}}</textarea><br>
            <input type="hidden" name="ArticleID" value="{{.ArticleID}}">
            <input type="submit">
        </form>
    </body>
</html>