{{define "footer"}}

	<div class="footer clearfix">
		<div class="footer-bg">
			
		</div>
		
		<div class="footer-credits">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td><span class="footer-fuss">Hosted by</span><br/><a href="http://appengine.google.com" style="color:#0A328C;" target="_blank">Google App Engine</a></td>

					<td><span class="footer-fuss">Powered by</span><br/><a href="http://golang.org" style="color:#81BF34;" target="_blank">Go Language</a></td>

					<td><span class="footer-fuss">Theme by</span><br/><a href="http://livesino.net/theme-codename-h" style="color:#FF0000;" title="Get Theme Codename H">Codename H</a></td>

					<td><span class="footer-fuss">Essentials by</span><br/><a href="http://www.live.com" style="color:#000000;">Windows Live</a></td>

					<td><span class="footer-fuss">Copyright @ 2007-2015</span><br/><a href="{{.Url}}" style="color:#2B547E;" target="_blank">{{.Name}}</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>

</body>
</html>

{{end}}
