<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>New Blog Post</h1>
        <form action="/new" method="post">
            Title		:<input type="text" name="Title"><br>
            Catergory	:<input type="text" name="Category"><br>
            Tags		:<input type="text" name="Tags"><br>
            Content		:<textarea name="Content" colspan="100" rowspan="100"></textarea><br>
            <input type="submit">
            <!--input type="hidden" name="new_post_ID" value="877" /-->
        </form>
    </body>
</html>